:local(.button) {
  transition:
    box-shadow .2s,
    transform .2s,
    background-color .2s,
    border-color .5s,
    color .5s;
  box-shadow: none;
  transform: translateY(0);

  padding: 5px 20px;
  color: #333;
  border: solid 1px #777;
  cursor: pointer;

  justify-content: flex-end;

  -webkit-touch-callout: none;
  user-select: none;
}

:local(.button):hover {
  transform: translateY(-2px);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

:local(.disabled),
:local(.disabled):hover {
  cursor: default;
  box-shadow: none;
  transform: translateY(0);
  color: #999;
  border-color: #999;
}

:local(.button):active {
  transform: translateY(0);
  box-shadow: none;
  color: #eee;
  border-color: #eee;
}
