/* Just positioning the board itself */
:local(.board) {
  margin-top: 50px;
  align-self: center;
  /* So the absolute .stenen will be contained still */
  position: relative;

  padding: 20px;
  padding-bottom: 30px;
}

:local(.grid) {
  z-index: 20;
}

:local(.board_background) {
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Stone columns, absolute because they hover over the grid */
:local(.stenen) {
  z-index: 30;
  flex-direction: column;
  top: 0;
  left: 0;
}


/* Row of stones */
:local(.stenen) div {
  flex-direction: row;
}

/* The actual stones. this includes stones that  */
:local(.stenen) div div {
  position: relative;
  width: 50px;
  height: 50px;

  transition: transform .2s ease-in;
}

:local(.stenen) div div:after {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  content: '';
  display: block;
  background-color: transparant;

  /* Add a border radius anyway */
  border-radius: 25px;
}

/* Selected stones get .zwart or .wit */
:local(.preview_zwart):after,
:local(.zwart):after,
:local(.preview_wit):after,
:local(.wit):after,
:local(.wrong_if_hovered):hover:after {
  transition:
    transform .2s ease-in,
    box-shadow .2s ease-in,
    opacity .2s ease-in;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

:local(.preview_zwart):after,
:local(.zwart):after {
  background-color: black;
}

:local(.preview_wit):after,
:local(.wit):after {
  background-color: white;
  /*border: solid black 1px;*/
}


/* Add an extra circle inside the stone that has been moved last */
:local(.stenen) div div:before {
  z-index: 100;
  content: '';
  display: block;
  border: 1px solid transparent;
  padding: 0;
  margin: auto;
  transition: all .5s;

  border-radius: 2px;
}

:local(.lastmovedstone):before {
  border-color: gray !important;
  padding: 7px !important;
}

/* Preview stones */
:local(.preview_zwart):after,
:local(.preview_wit):after {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

:local(.preview_zwart),
:local(.preview_wit) {
  cursor: pointer;
  transform: translateY(-5px);
}

:local(.not_my_turn) :local(.wrong_if_hovered):after {
  opacity: 0 !important;

}

:local(.wrong_if_hovered):hover:after {
  background-color: darkred;
  transition: none;
}

:local(.preview_zwart):hover,
:local(.preview_wit):hover,
:local(.preview_zwart):hover:after,
:local(.preview_wit):hover:after {
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(0px);*/
  /*transition: none;*/
}

/* Sidebar with markers */
:local(.right_marker),
:local(.bottom_marker) {
  background-color: #bbb;
  position: absolute;
  /*z-index: -10;*/
  transition: left .5s, top .5s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}
:local(.right_marker) {
  padding: 5px;
}

:local(.right_marker) div,
:local(.bottom_marker) div {
  padding: 7px;
  color: #888;
  text-shadow: 0px -1px 1px #ddd;
  font-size: 30px;
}

:local(.bottom_marker) div {
  padding-left: 14px;
  padding-right: 17px;
  padding-top: 5px;
}

:local(.bottom_marker):hover {
  top: -15px;
}
:local(.enable_markers) :local(.bottom_marker) {
  top: -40px;
}
:local(.enable_markers) :local(.bottom_marker):hover {
  top: -45px;
}
:local(.bottom_marker) {
  height: 50px;
  width: 450px;
  top: -10px;
  flex-direction: row;
}

:local(.right_marker):hover {
  left: -20px;
}
:local(.enable_markers) :local(.right_marker) {
  left: -40px;
}
:local(.enable_markers) :local(.right_marker):hover {
  left: -45px;
}
:local(.right_marker) {
  height: 450px;
  width: 50px;
  left: -10px;
}
