:local(.button) {
  padding: 10px;
  padding-right: 50px;
  margin-top: 20px;
  flex-direction: row;
  cursor: pointer;

  transition: all .2s ease-in;
}

:local(.field) {
  width: 60px;
  height: 60px;
  margin: 5px;
  box-shadow: inset 0 14px 28px rgba(0,0,0,0.25), inset 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  background-color: #eee;

  transition: all .2s ease-in;
}

:local(.field) div:first-child {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 50%;
  border-right: 1px solid gray;
}

:local(.field) div:last-child {
  position: absolute;
  top: 0; bottom: 45%;
  left: 0; right: 0;
  border-bottom: 1px solid gray;
}

:local(.text) {
  font-size: 50px;
  margin-left: 20px;
  padding: 3px;
  justify-content: flex-end;
  text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

:local(.stone) {
  z-index: 100;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: black;
  margin: auto;
  width: 40px;
  height: 40px;

  transform: translateY(60px);
  transition: transform .5s ease-out;
}

/* On hover animations */
:local(.button):hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transform: translateY(2px);
}

:local(.button):hover :local(.field) {
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);
}

:local(.button):hover :local(.stone) {
  transform: translateY(0);
}

/* Stone positions */
:local(.left) {
  transform: translateX(-60px);
}
:local(.right) {
  transform: translateX(60px);
}
:local(.up) {
  transform: translateY(-60px);
}
:local(.down) {
  transform: translateY(60px);
}
